.tamaños input{
    background-color: #f4f3f2;
    color: #6f6f6f;
    border: none;
    border-radius: 6px;
    margin: 0 0.5%;
    padding: 10px 20px 10px 20px;
}

.pequeño
{
    font-size: 0.7em;
}

.normal
{
    font-size: 1em;
}

.grande
{
    font-size: 2em;
}

.colores input
{
    border: none;
    color:white;
    padding: 10px 20px 10px 20px;
    margin: 0 0.5%;
    border-radius: 6px;
    font-size: 1em;
}

.esmeralda
{
    background-color: #57d68d;
}

.cielo
{
    background-color: #5cace2;
}

.amatista
{
    background-color: #ae7ac4;
}

.asfalto
{
    background-color: #5c6d7e;
}

.topazio
{
    background-color: #ea974e;
}

.rubi{
    background-color: #eb6f62;
}

.bordeado input
{
    background-color: white;
    padding: 10px 20px 10px 20px;
    margin: 0 0.5%;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 550;
}
.simpleb
{
    border: 1px solid #929292;
    color:#929292;
}
.esmeraldab
{
    border: 1px solid #57d68d;
    color:#57d68d;
}

.cielob
{
    border:1px solid #5cace2;
    color: #5cace2;
}

.amatistab
{
    border: 1px solid #ae7ac4;
    color: #ae7ac4
}

.asfaltob
{
    border: 1px solid #5c6d7e;
    color: #5c6d7e;
}

.topaziob
{
    border: 1px solid #ea974e;
    color: #ea974e;
}

.rubib
{
    border: 1px solid #eb6f62;
    color: #eb6f62;
}

.combinaciones input
{
    padding: 10px 20px 10px 20px;
    margin: 0 0.5%;
    border-radius: 6px;
}

.largoasfalto
{
    font-size: 2em;
    color:white;
    background: #5c6d7e;
    border:none;
}

.bordecielo
{
    border:1px solid #5cace2;
    color: #5cace2;
    background: white;
    font-size: 1em;
}

.pequeñaesmeralda
{
    font-size: 0.7em;
    border:none;
    color:white;
    background-color: #57d68d;
}

.granrubi
{
    font-size: 2em;
    border: 1px solid #eb6f62;
    color: #eb6f62;
    background-color: white;
}